<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>

<section>
<div class="container alignn">
<div class="myprofile">
<img th:src="@{/images/im11.png}"  class="myprofileimage" alt="" />

<div class="profile_name"><h1 th:text="${user.name}"></h1>(<span th:text="${user.id}"></span>)</div>
<br />
<div class="profile_title"> <i class="material-icons ">email</i><h5 th:text="${user.email}"></h5></div>
<div class="profile_detail"> <i class="material-icons ">person</i> 5M follower</div>
<button type="button" class="btn btn-dark mt-5">UPDATE</button>


</div>


</div>






</section>


</body>
