<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>

	<section>
		<div class="table_responsive">
			<h2>Contacts</h2>
			<!-- search  -->
			<div class="search-container my-4">
			
				<input onkeyup="search()" type="text" placeholder="Search..."
					class="form-control" id="search-input" />
				<div class="search-result">
			
				</div>
			</div>

			<!--  -->
			<table>

				<thead>
					<tr>
						<th>ID</th>
						<th>Image</th>
						<th>Name</th>
						<th>Phone</th>
						<th>Email</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="c : ${contacts}">
						<td th:text="${c.cId}"></td>
						<td><img src="" th:src="@{'/images/'+${c.image}}" alt=""></td>
						<td th:text="${c.name}"></td>
						<td th:text="${c.phone}"></td>
						<td><a href="" th:href="@{'/user/'+${c.cId}}+'/contact/'"><span
								th:text="${c.email}"></span> </a></td>
						<td>
							<form action="" class="btn-form" method="post"
								th:action="@{'/user/updatecontact/'+${c.cId}}">
								<button id="button1">Update</button>

							</form> <a><button th:onclick="|deletecontact(${c.cId})|"
									id="button2" type="button">Delete</button></a>
						</td>
					</tr>


				</tbody>
			</table>
			<nav aria-label="Page navigation example">

				<ul class="pagination">

					<li th:if="${currentpage !=0}"
						th:href="@{'/user/show-contacts/'+${currentpage-1}}"
						class="page-item"><a
						th:href="@{'/user/show-contacts/'+${currentpage-1}}"
						class="page-link" href="#">Previous</a></li>

					<li th:classappend="${currentpage==i-1 ? 'active':''}"
						th:each="i : ${#numbers.sequence(1,totalpages)}" class="page-item"><a
						th:href="@{'/user/show-contacts/'+${i-1}}" class="page-link"
						href="#"><span th:text="${i}"></span></a></li>



					<li th:if="${currentpage+1 !=totalpages}"
						th:href="@{'/user/show-contacts/'+${currentpage+1}}"
						class="page-item"><a
						th:href="@{'/user/show-contacts/'+${currentpage+1}}"
						class="page-link" href="#">Next</a></li>
				</ul>
			</nav>


		</div>


		<div class="girl-img">
			<img src="/images/research.svg" alt="" />
		</div>




		<script th:src="@{/js/script.js}"></script>

	</section>


</body>
</html>